In [2]:
import polars as pl

In [3]:
from polars import col, concat

In [3]:
df = pl.read_csv("data/StudentsPerformance.csv")

In [4]:
df.describe()

shape: (9, 10)
┌───────────┬──────────┬────────┬────────────┬───┬────────────┬──────────┬────────────┬────────────┐
│ describe  ┆ id       ┆ gender ┆ race/ethni ┆ … ┆ test prepa ┆ math     ┆ reading    ┆ writing    │
│ ---       ┆ ---      ┆ ---    ┆ city       ┆   ┆ ration     ┆ score    ┆ score      ┆ score      │
│ str       ┆ f64      ┆ str    ┆ ---        ┆   ┆ course     ┆ ---      ┆ ---        ┆ ---        │
│           ┆          ┆        ┆ str        ┆   ┆ ---        ┆ f64      ┆ f64        ┆ f64        │
│           ┆          ┆        ┆            ┆   ┆ str        ┆          ┆            ┆            │
╞═══════════╪══════════╪════════╪════════════╪═══╪════════════╪══════════╪════════════╪════════════╡
│ count     ┆ 1000.0   ┆ 1000   ┆ 1000       ┆ … ┆ 1000       ┆ 1000.0   ┆ 1000.0     ┆ 1000.0     │
│ null_coun ┆ 0.0      ┆ 0      ┆ 0          ┆ … ┆ 0          ┆ 0.0      ┆ 0.0        ┆ 0.0        │
│ t         ┆          ┆        ┆            ┆   ┆            ┆          ┆            ┆            │
│ mean      ┆ 500.5    ┆ null   ┆ null       ┆ … ┆ null       ┆ 66.089   ┆ 69.169     ┆ 68.054     │
│ std       ┆ 288.8194 ┆ null   ┆ null       ┆ … ┆ null       ┆ 15.16308 ┆ 14.600192  ┆ 15.195657  │
│           ┆ 36       ┆        ┆            ┆   ┆            ┆          ┆            ┆            │
│ min       ┆ 1.0      ┆ female ┆ group A    ┆ … ┆ completed  ┆ 0.0      ┆ 17.0       ┆ 10.0       │
│ max       ┆ 1000.0   ┆ male   ┆ group E    ┆ … ┆ none       ┆ 100.0    ┆ 100.0      ┆ 100.0      │
│ median    ┆ 500.5    ┆ null   ┆ null       ┆ … ┆ null       ┆ 66.0     ┆ 70.0       ┆ 69.0       │
│ 25%       ┆ 251.0    ┆ null   ┆ null       ┆ … ┆ null       ┆ 57.0     ┆ 59.0       ┆ 58.0       │
│ 75%       ┆ 751.0    ┆ null   ┆ null       ┆ … ┆ null       ┆ 77.0     ┆ 79.0       ┆ 79.0       │
└───────────┴──────────┴────────┴────────────┴───┴────────────┴──────────┴────────────┴────────────┘

In [5]:
df.columns

['id',
 'gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']

In [6]:
df.schema

{'id': Int64,
 'gender': Utf8,
 'race/ethnicity': Utf8,
 'parental level of education': Utf8,
 'lunch': Utf8,
 'test preparation course': Utf8,
 'math score': Int64,
 'reading score': Int64,
 'writing score': Int64}

In [7]:
df.select("gender", "math score")

shape: (1_000, 2)
┌────────┬────────────┐
│ gender ┆ math score │
│ ---    ┆ ---        │
│ str    ┆ i64        │
╞════════╪════════════╡
│ female ┆ 72         │
│ female ┆ 69         │
│ female ┆ 90         │
│ male   ┆ 47         │
│ …      ┆ …          │
│ male   ┆ 62         │
│ female ┆ 59         │
│ female ┆ 68         │
│ female ┆ 77         │
└────────┴────────────┘

In [8]:
df.select("*")

shape: (1_000, 9)
┌──────┬────────┬────────────┬────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ id   ┆ gender ┆ race/ethni ┆ parental   ┆ … ┆ test prepa ┆ math score ┆ reading    ┆ writing    │
│ ---  ┆ ---    ┆ city       ┆ level of   ┆   ┆ ration     ┆ ---        ┆ score      ┆ score      │
│ i64  ┆ str    ┆ ---        ┆ education  ┆   ┆ course     ┆ i64        ┆ ---        ┆ ---        │
│      ┆        ┆ str        ┆ ---        ┆   ┆ ---        ┆            ┆ i64        ┆ i64        │
│      ┆        ┆            ┆ str        ┆   ┆ str        ┆            ┆            ┆            │
╞══════╪════════╪════════════╪════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 1    ┆ female ┆ group B    ┆ bachelor's ┆ … ┆ none       ┆ 72         ┆ 72         ┆ 74         │
│      ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆            │
│ 2    ┆ female ┆ group C    ┆ some       ┆ … ┆ completed  ┆ 69         ┆ 90         ┆ 88         │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆            │
│ 3    ┆ female ┆ group B    ┆ master's   ┆ … ┆ none       ┆ 90         ┆ 95         ┆ 93         │
│      ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆            │
│ 4    ┆ male   ┆ group A    ┆ associate' ┆ … ┆ none       ┆ 47         ┆ 57         ┆ 44         │
│      ┆        ┆            ┆ s degree   ┆   ┆            ┆            ┆            ┆            │
│ …    ┆ …      ┆ …          ┆ …          ┆ … ┆ …          ┆ …          ┆ …          ┆ …          │
│ 997  ┆ male   ┆ group C    ┆ high       ┆ … ┆ none       ┆ 62         ┆ 55         ┆ 55         │
│      ┆        ┆            ┆ school     ┆   ┆            ┆            ┆            ┆            │
│ 998  ┆ female ┆ group C    ┆ high       ┆ … ┆ completed  ┆ 59         ┆ 71         ┆ 65         │
│      ┆        ┆            ┆ school     ┆   ┆            ┆            ┆            ┆            │
│ 999  ┆ female ┆ group D    ┆ some       ┆ … ┆ completed  ┆ 68         ┆ 78         ┆ 77         │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆            │
│ 1000 ┆ female ┆ group D    ┆ some       ┆ … ┆ none       ┆ 77         ┆ 86         ┆ 86         │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆            │
└──────┴────────┴────────────┴────────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [9]:
df.select(col(["gender", "math score"]))

shape: (1_000, 2)
┌────────┬────────────┐
│ gender ┆ math score │
│ ---    ┆ ---        │
│ str    ┆ i64        │
╞════════╪════════════╡
│ female ┆ 72         │
│ female ┆ 69         │
│ female ┆ 90         │
│ male   ┆ 47         │
│ …      ┆ …          │
│ male   ┆ 62         │
│ female ┆ 59         │
│ female ┆ 68         │
│ female ┆ 77         │
└────────┴────────────┘

In [10]:
df.select(col("*"))

shape: (1_000, 9)
┌──────┬────────┬────────────┬────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ id   ┆ gender ┆ race/ethni ┆ parental   ┆ … ┆ test prepa ┆ math score ┆ reading    ┆ writing    │
│ ---  ┆ ---    ┆ city       ┆ level of   ┆   ┆ ration     ┆ ---        ┆ score      ┆ score      │
│ i64  ┆ str    ┆ ---        ┆ education  ┆   ┆ course     ┆ i64        ┆ ---        ┆ ---        │
│      ┆        ┆ str        ┆ ---        ┆   ┆ ---        ┆            ┆ i64        ┆ i64        │
│      ┆        ┆            ┆ str        ┆   ┆ str        ┆            ┆            ┆            │
╞══════╪════════╪════════════╪════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 1    ┆ female ┆ group B    ┆ bachelor's ┆ … ┆ none       ┆ 72         ┆ 72         ┆ 74         │
│      ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆            │
│ 2    ┆ female ┆ group C    ┆ some       ┆ … ┆ completed  ┆ 69         ┆ 90         ┆ 88         │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆            │
│ 3    ┆ female ┆ group B    ┆ master's   ┆ … ┆ none       ┆ 90         ┆ 95         ┆ 93         │
│      ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆            │
│ 4    ┆ male   ┆ group A    ┆ associate' ┆ … ┆ none       ┆ 47         ┆ 57         ┆ 44         │
│      ┆        ┆            ┆ s degree   ┆   ┆            ┆            ┆            ┆            │
│ …    ┆ …      ┆ …          ┆ …          ┆ … ┆ …          ┆ …          ┆ …          ┆ …          │
│ 997  ┆ male   ┆ group C    ┆ high       ┆ … ┆ none       ┆ 62         ┆ 55         ┆ 55         │
│      ┆        ┆            ┆ school     ┆   ┆            ┆            ┆            ┆            │
│ 998  ┆ female ┆ group C    ┆ high       ┆ … ┆ completed  ┆ 59         ┆ 71         ┆ 65         │
│      ┆        ┆            ┆ school     ┆   ┆            ┆            ┆            ┆            │
│ 999  ┆ female ┆ group D    ┆ some       ┆ … ┆ completed  ┆ 68         ┆ 78         ┆ 77         │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆            │
│ 1000 ┆ female ┆ group D    ┆ some       ┆ … ┆ none       ┆ 77         ┆ 86         ┆ 86         │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆            │
└──────┴────────┴────────────┴────────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [11]:
df.with_columns((col("math score") + col("reading score")).alias("total score"))

shape: (1_000, 10)
┌──────┬────────┬────────────┬────────────┬───┬────────────┬────────────┬────────────┬─────────────┐
│ id   ┆ gender ┆ race/ethni ┆ parental   ┆ … ┆ math score ┆ reading    ┆ writing    ┆ total score │
│ ---  ┆ ---    ┆ city       ┆ level of   ┆   ┆ ---        ┆ score      ┆ score      ┆ ---         │
│ i64  ┆ str    ┆ ---        ┆ education  ┆   ┆ i64        ┆ ---        ┆ ---        ┆ i64         │
│      ┆        ┆ str        ┆ ---        ┆   ┆            ┆ i64        ┆ i64        ┆             │
│      ┆        ┆            ┆ str        ┆   ┆            ┆            ┆            ┆             │
╞══════╪════════╪════════════╪════════════╪═══╪════════════╪════════════╪════════════╪═════════════╡
│ 1    ┆ female ┆ group B    ┆ bachelor's ┆ … ┆ 72         ┆ 72         ┆ 74         ┆ 144         │
│      ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆             │
│ 2    ┆ female ┆ group C    ┆ some       ┆ … ┆ 69         ┆ 90         ┆ 88         ┆ 159         │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆             │
│ 3    ┆ female ┆ group B    ┆ master's   ┆ … ┆ 90         ┆ 95         ┆ 93         ┆ 185         │
│      ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆             │
│ 4    ┆ male   ┆ group A    ┆ associate' ┆ … ┆ 47         ┆ 57         ┆ 44         ┆ 104         │
│      ┆        ┆            ┆ s degree   ┆   ┆            ┆            ┆            ┆             │
│ …    ┆ …      ┆ …          ┆ …          ┆ … ┆ …          ┆ …          ┆ …          ┆ …           │
│ 997  ┆ male   ┆ group C    ┆ high       ┆ … ┆ 62         ┆ 55         ┆ 55         ┆ 117         │
│      ┆        ┆            ┆ school     ┆   ┆            ┆            ┆            ┆             │
│ 998  ┆ female ┆ group C    ┆ high       ┆ … ┆ 59         ┆ 71         ┆ 65         ┆ 130         │
│      ┆        ┆            ┆ school     ┆   ┆            ┆            ┆            ┆             │
│ 999  ┆ female ┆ group D    ┆ some       ┆ … ┆ 68         ┆ 78         ┆ 77         ┆ 146         │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆             │
│ 1000 ┆ female ┆ group D    ┆ some       ┆ … ┆ 77         ┆ 86         ┆ 86         ┆ 163         │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆             │
└──────┴────────┴────────────┴────────────┴───┴────────────┴────────────┴────────────┴─────────────┘

In [12]:
df.with_columns(
    (col("math score") + col("reading score") + col("writing score"))
    .mean()
    .alias("average score")
)

shape: (1_000, 10)
┌──────┬────────┬────────────┬────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ id   ┆ gender ┆ race/ethni ┆ parental   ┆ … ┆ math score ┆ reading    ┆ writing    ┆ average    │
│ ---  ┆ ---    ┆ city       ┆ level of   ┆   ┆ ---        ┆ score      ┆ score      ┆ score      │
│ i64  ┆ str    ┆ ---        ┆ education  ┆   ┆ i64        ┆ ---        ┆ ---        ┆ ---        │
│      ┆        ┆ str        ┆ ---        ┆   ┆            ┆ i64        ┆ i64        ┆ f64        │
│      ┆        ┆            ┆ str        ┆   ┆            ┆            ┆            ┆            │
╞══════╪════════╪════════════╪════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 1    ┆ female ┆ group B    ┆ bachelor's ┆ … ┆ 72         ┆ 72         ┆ 74         ┆ 203.312    │
│      ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆            │
│ 2    ┆ female ┆ group C    ┆ some       ┆ … ┆ 69         ┆ 90         ┆ 88         ┆ 203.312    │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆            │
│ 3    ┆ female ┆ group B    ┆ master's   ┆ … ┆ 90         ┆ 95         ┆ 93         ┆ 203.312    │
│      ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆            │
│ 4    ┆ male   ┆ group A    ┆ associate' ┆ … ┆ 47         ┆ 57         ┆ 44         ┆ 203.312    │
│      ┆        ┆            ┆ s degree   ┆   ┆            ┆            ┆            ┆            │
│ …    ┆ …      ┆ …          ┆ …          ┆ … ┆ …          ┆ …          ┆ …          ┆ …          │
│ 997  ┆ male   ┆ group C    ┆ high       ┆ … ┆ 62         ┆ 55         ┆ 55         ┆ 203.312    │
│      ┆        ┆            ┆ school     ┆   ┆            ┆            ┆            ┆            │
│ 998  ┆ female ┆ group C    ┆ high       ┆ … ┆ 59         ┆ 71         ┆ 65         ┆ 203.312    │
│      ┆        ┆            ┆ school     ┆   ┆            ┆            ┆            ┆            │
│ 999  ┆ female ┆ group D    ┆ some       ┆ … ┆ 68         ┆ 78         ┆ 77         ┆ 203.312    │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆            │
│ 1000 ┆ female ┆ group D    ┆ some       ┆ … ┆ 77         ┆ 86         ┆ 86         ┆ 203.312    │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆            │
└──────┴────────┴────────────┴────────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [13]:
df.filter(col("gender") == "female")

shape: (518, 9)
┌──────┬────────┬────────────┬────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ id   ┆ gender ┆ race/ethni ┆ parental   ┆ … ┆ test prepa ┆ math score ┆ reading    ┆ writing    │
│ ---  ┆ ---    ┆ city       ┆ level of   ┆   ┆ ration     ┆ ---        ┆ score      ┆ score      │
│ i64  ┆ str    ┆ ---        ┆ education  ┆   ┆ course     ┆ i64        ┆ ---        ┆ ---        │
│      ┆        ┆ str        ┆ ---        ┆   ┆ ---        ┆            ┆ i64        ┆ i64        │
│      ┆        ┆            ┆ str        ┆   ┆ str        ┆            ┆            ┆            │
╞══════╪════════╪════════════╪════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 1    ┆ female ┆ group B    ┆ bachelor's ┆ … ┆ none       ┆ 72         ┆ 72         ┆ 74         │
│      ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆            │
│ 2    ┆ female ┆ group C    ┆ some       ┆ … ┆ completed  ┆ 69         ┆ 90         ┆ 88         │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆            │
│ 3    ┆ female ┆ group B    ┆ master's   ┆ … ┆ none       ┆ 90         ┆ 95         ┆ 93         │
│      ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆            │
│ 6    ┆ female ┆ group B    ┆ associate' ┆ … ┆ none       ┆ 71         ┆ 83         ┆ 78         │
│      ┆        ┆            ┆ s degree   ┆   ┆            ┆            ┆            ┆            │
│ …    ┆ …      ┆ …          ┆ …          ┆ … ┆ …          ┆ …          ┆ …          ┆ …          │
│ 996  ┆ female ┆ group E    ┆ master's   ┆ … ┆ completed  ┆ 88         ┆ 99         ┆ 95         │
│      ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆            │
│ 998  ┆ female ┆ group C    ┆ high       ┆ … ┆ completed  ┆ 59         ┆ 71         ┆ 65         │
│      ┆        ┆            ┆ school     ┆   ┆            ┆            ┆            ┆            │
│ 999  ┆ female ┆ group D    ┆ some       ┆ … ┆ completed  ┆ 68         ┆ 78         ┆ 77         │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆            │
│ 1000 ┆ female ┆ group D    ┆ some       ┆ … ┆ none       ┆ 77         ┆ 86         ┆ 86         │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆            │
└──────┴────────┴────────────┴────────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [14]:
df.filter((col("gender") == "female") & (col("race/ethnicity") == "group B"))

shape: (104, 9)
┌─────┬────────┬────────────┬────────────┬───┬────────────┬────────────┬────────────┬─────────┐
│ id  ┆ gender ┆ race/ethni ┆ parental   ┆ … ┆ test prepa ┆ math score ┆ reading    ┆ writing │
│ --- ┆ ---    ┆ city       ┆ level of   ┆   ┆ ration     ┆ ---        ┆ score      ┆ score   │
│ i64 ┆ str    ┆ ---        ┆ education  ┆   ┆ course     ┆ i64        ┆ ---        ┆ ---     │
│     ┆        ┆ str        ┆ ---        ┆   ┆ ---        ┆            ┆ i64        ┆ i64     │
│     ┆        ┆            ┆ str        ┆   ┆ str        ┆            ┆            ┆         │
╞═════╪════════╪════════════╪════════════╪═══╪════════════╪════════════╪════════════╪═════════╡
│ 1   ┆ female ┆ group B    ┆ bachelor's ┆ … ┆ none       ┆ 72         ┆ 72         ┆ 74      │
│     ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆         │
│ 3   ┆ female ┆ group B    ┆ master's   ┆ … ┆ none       ┆ 90         ┆ 95         ┆ 93      │
│     ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆         │
│ 6   ┆ female ┆ group B    ┆ associate' ┆ … ┆ none       ┆ 71         ┆ 83         ┆ 78      │
│     ┆        ┆            ┆ s degree   ┆   ┆            ┆            ┆            ┆         │
│ 7   ┆ female ┆ group B    ┆ some       ┆ … ┆ completed  ┆ 88         ┆ 95         ┆ 92      │
│     ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆         │
│ …   ┆ …      ┆ …          ┆ …          ┆ … ┆ …          ┆ …          ┆ …          ┆ …       │
│ 945 ┆ female ┆ group B    ┆ high       ┆ … ┆ none       ┆ 58         ┆ 68         ┆ 61      │
│     ┆        ┆            ┆ school     ┆   ┆            ┆            ┆            ┆         │
│ 970 ┆ female ┆ group B    ┆ bachelor's ┆ … ┆ none       ┆ 75         ┆ 84         ┆ 80      │
│     ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆         │
│ 981 ┆ female ┆ group B    ┆ high       ┆ … ┆ none       ┆ 8          ┆ 24         ┆ 23      │
│     ┆        ┆            ┆ school     ┆   ┆            ┆            ┆            ┆         │
│ 992 ┆ female ┆ group B    ┆ some high  ┆ … ┆ completed  ┆ 65         ┆ 82         ┆ 78      │
│     ┆        ┆            ┆ school     ┆   ┆            ┆            ┆            ┆         │
└─────┴────────┴────────────┴────────────┴───┴────────────┴────────────┴────────────┴─────────┘

In [15]:
df.groupby(col("race/ethnicity")).count()

shape: (5, 2)
┌────────────────┬───────┐
│ race/ethnicity ┆ count │
│ ---            ┆ ---   │
│ str            ┆ u32   │
╞════════════════╪═══════╡
│ group D        ┆ 262   │
│ group A        ┆ 89    │
│ group B        ┆ 190   │
│ group E        ┆ 140   │
│ group C        ┆ 319   │
└────────────────┴───────┘

In [16]:
df.groupby("race/ethnicity").agg(pl.sum("math score").alias("sum_math_score")).filter(
    col("sum_math_score") > 10000
).sort(col("sum_math_score"), descending=True).limit(3)

shape: (3, 2)
┌────────────────┬────────────────┐
│ race/ethnicity ┆ sum_math_score │
│ ---            ┆ ---            │
│ str            ┆ i64            │
╞════════════════╪════════════════╡
│ group C        ┆ 20564          │
│ group D        ┆ 17649          │
│ group B        ┆ 12056          │
└────────────────┴────────────────┘

In [17]:
df2 = pl.read_csv("data/LanguageScore.csv")

In [18]:
df2.columns

['id', 'language score']

In [19]:
df2.schema

{'id': Int64, 'language score': Int64}

In [20]:
df2.describe()

shape: (9, 3)
┌────────────┬───────────┬────────────────┐
│ describe   ┆ id        ┆ language score │
│ ---        ┆ ---       ┆ ---            │
│ str        ┆ f64       ┆ f64            │
╞════════════╪═══════════╪════════════════╡
│ count      ┆ 100.0     ┆ 100.0          │
│ null_count ┆ 0.0       ┆ 0.0            │
│ mean       ┆ 50.5      ┆ 65.36          │
│ std        ┆ 29.011492 ┆ 21.356294      │
│ min        ┆ 1.0       ┆ 30.0           │
│ max        ┆ 100.0     ┆ 100.0          │
│ median     ┆ 50.5      ┆ 66.5           │
│ 25%        ┆ 26.0      ┆ 47.0           │
│ 75%        ┆ 76.0      ┆ 84.0           │
└────────────┴───────────┴────────────────┘

In [21]:
df2.select("*")

shape: (100, 2)
┌─────┬────────────────┐
│ id  ┆ language score │
│ --- ┆ ---            │
│ i64 ┆ i64            │
╞═════╪════════════════╡
│ 1   ┆ 74             │
│ 2   ┆ 67             │
│ 3   ┆ 34             │
│ 4   ┆ 33             │
│ …   ┆ …              │
│ 97  ┆ 87             │
│ 98  ┆ 66             │
│ 99  ┆ 94             │
│ 100 ┆ 75             │
└─────┴────────────────┘

In [22]:
df.join(df2, on="id", how="left")

shape: (1_000, 10)
┌──────┬────────┬────────────┬────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ id   ┆ gender ┆ race/ethni ┆ parental   ┆ … ┆ math score ┆ reading    ┆ writing    ┆ language   │
│ ---  ┆ ---    ┆ city       ┆ level of   ┆   ┆ ---        ┆ score      ┆ score      ┆ score      │
│ i64  ┆ str    ┆ ---        ┆ education  ┆   ┆ i64        ┆ ---        ┆ ---        ┆ ---        │
│      ┆        ┆ str        ┆ ---        ┆   ┆            ┆ i64        ┆ i64        ┆ i64        │
│      ┆        ┆            ┆ str        ┆   ┆            ┆            ┆            ┆            │
╞══════╪════════╪════════════╪════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 1    ┆ female ┆ group B    ┆ bachelor's ┆ … ┆ 72         ┆ 72         ┆ 74         ┆ 74         │
│      ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆            │
│ 2    ┆ female ┆ group C    ┆ some       ┆ … ┆ 69         ┆ 90         ┆ 88         ┆ 67         │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆            │
│ 3    ┆ female ┆ group B    ┆ master's   ┆ … ┆ 90         ┆ 95         ┆ 93         ┆ 34         │
│      ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆            │
│ 4    ┆ male   ┆ group A    ┆ associate' ┆ … ┆ 47         ┆ 57         ┆ 44         ┆ 33         │
│      ┆        ┆            ┆ s degree   ┆   ┆            ┆            ┆            ┆            │
│ …    ┆ …      ┆ …          ┆ …          ┆ … ┆ …          ┆ …          ┆ …          ┆ …          │
│ 997  ┆ male   ┆ group C    ┆ high       ┆ … ┆ 62         ┆ 55         ┆ 55         ┆ null       │
│      ┆        ┆            ┆ school     ┆   ┆            ┆            ┆            ┆            │
│ 998  ┆ female ┆ group C    ┆ high       ┆ … ┆ 59         ┆ 71         ┆ 65         ┆ null       │
│      ┆        ┆            ┆ school     ┆   ┆            ┆            ┆            ┆            │
│ 999  ┆ female ┆ group D    ┆ some       ┆ … ┆ 68         ┆ 78         ┆ 77         ┆ null       │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆            │
│ 1000 ┆ female ┆ group D    ┆ some       ┆ … ┆ 77         ┆ 86         ┆ 86         ┆ null       │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆            │
└──────┴────────┴────────────┴────────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [23]:
concat([df, df2.drop("id")], how="horizontal")

shape: (1_000, 10)
┌──────┬────────┬────────────┬────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ id   ┆ gender ┆ race/ethni ┆ parental   ┆ … ┆ math score ┆ reading    ┆ writing    ┆ language   │
│ ---  ┆ ---    ┆ city       ┆ level of   ┆   ┆ ---        ┆ score      ┆ score      ┆ score      │
│ i64  ┆ str    ┆ ---        ┆ education  ┆   ┆ i64        ┆ ---        ┆ ---        ┆ ---        │
│      ┆        ┆ str        ┆ ---        ┆   ┆            ┆ i64        ┆ i64        ┆ i64        │
│      ┆        ┆            ┆ str        ┆   ┆            ┆            ┆            ┆            │
╞══════╪════════╪════════════╪════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 1    ┆ female ┆ group B    ┆ bachelor's ┆ … ┆ 72         ┆ 72         ┆ 74         ┆ 74         │
│      ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆            │
│ 2    ┆ female ┆ group C    ┆ some       ┆ … ┆ 69         ┆ 90         ┆ 88         ┆ 67         │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆            │
│ 3    ┆ female ┆ group B    ┆ master's   ┆ … ┆ 90         ┆ 95         ┆ 93         ┆ 34         │
│      ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆            │
│ 4    ┆ male   ┆ group A    ┆ associate' ┆ … ┆ 47         ┆ 57         ┆ 44         ┆ 33         │
│      ┆        ┆            ┆ s degree   ┆   ┆            ┆            ┆            ┆            │
│ …    ┆ …      ┆ …          ┆ …          ┆ … ┆ …          ┆ …          ┆ …          ┆ …          │
│ 997  ┆ male   ┆ group C    ┆ high       ┆ … ┆ 62         ┆ 55         ┆ 55         ┆ null       │
│      ┆        ┆            ┆ school     ┆   ┆            ┆            ┆            ┆            │
│ 998  ┆ female ┆ group C    ┆ high       ┆ … ┆ 59         ┆ 71         ┆ 65         ┆ null       │
│      ┆        ┆            ┆ school     ┆   ┆            ┆            ┆            ┆            │
│ 999  ┆ female ┆ group D    ┆ some       ┆ … ┆ 68         ┆ 78         ┆ 77         ┆ null       │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆            │
│ 1000 ┆ female ┆ group D    ┆ some       ┆ … ┆ 77         ┆ 86         ┆ 86         ┆ null       │
│      ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆            │
└──────┴────────┴────────────┴────────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [24]:
df.filter(col("lunch") == "standard")

shape: (645, 9)
┌─────┬────────┬────────────┬────────────┬───┬────────────┬────────────┬────────────┬─────────┐
│ id  ┆ gender ┆ race/ethni ┆ parental   ┆ … ┆ test prepa ┆ math score ┆ reading    ┆ writing │
│ --- ┆ ---    ┆ city       ┆ level of   ┆   ┆ ration     ┆ ---        ┆ score      ┆ score   │
│ i64 ┆ str    ┆ ---        ┆ education  ┆   ┆ course     ┆ i64        ┆ ---        ┆ ---     │
│     ┆        ┆ str        ┆ ---        ┆   ┆ ---        ┆            ┆ i64        ┆ i64     │
│     ┆        ┆            ┆ str        ┆   ┆ str        ┆            ┆            ┆         │
╞═════╪════════╪════════════╪════════════╪═══╪════════════╪════════════╪════════════╪═════════╡
│ 1   ┆ female ┆ group B    ┆ bachelor's ┆ … ┆ none       ┆ 72         ┆ 72         ┆ 74      │
│     ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆         │
│ 2   ┆ female ┆ group C    ┆ some       ┆ … ┆ completed  ┆ 69         ┆ 90         ┆ 88      │
│     ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆         │
│ 3   ┆ female ┆ group B    ┆ master's   ┆ … ┆ none       ┆ 90         ┆ 95         ┆ 93      │
│     ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆         │
│ 5   ┆ male   ┆ group C    ┆ some       ┆ … ┆ none       ┆ 76         ┆ 78         ┆ 75      │
│     ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆         │
│ …   ┆ …      ┆ …          ┆ …          ┆ … ┆ …          ┆ …          ┆ …          ┆ …       │
│ 992 ┆ female ┆ group B    ┆ some high  ┆ … ┆ completed  ┆ 65         ┆ 82         ┆ 78      │
│     ┆        ┆            ┆ school     ┆   ┆            ┆            ┆            ┆         │
│ 995 ┆ male   ┆ group A    ┆ high       ┆ … ┆ none       ┆ 63         ┆ 63         ┆ 62      │
│     ┆        ┆            ┆ school     ┆   ┆            ┆            ┆            ┆         │
│ 996 ┆ female ┆ group E    ┆ master's   ┆ … ┆ completed  ┆ 88         ┆ 99         ┆ 95      │
│     ┆        ┆            ┆ degree     ┆   ┆            ┆            ┆            ┆         │
│ 999 ┆ female ┆ group D    ┆ some       ┆ … ┆ completed  ┆ 68         ┆ 78         ┆ 77      │
│     ┆        ┆            ┆ college    ┆   ┆            ┆            ┆            ┆         │
└─────┴────────┴────────────┴────────────┴───┴────────────┴────────────┴────────────┴─────────┘

# Salesforce

In [4]:
account_df = pl.read_csv("data/salesforce/Accounts.csv", eol_char='\r')

In [5]:
account_df.describe()

shape: (9, 5)
┌────────────┬──────────────┬──────────────┬─────────────┬─────────┐
│ describe   ┆ CompanyEXTID ┆ Company Name ┆ City        ┆ State   │
│ ---        ┆ ---          ┆ ---          ┆ ---         ┆ ---     │
│ str        ┆ f64          ┆ str          ┆ str         ┆ str     │
╞════════════╪══════════════╪══════════════╪═════════════╪═════════╡
│ count      ┆ 100.0        ┆ 100          ┆ 100         ┆ 100     │
│ null_count ┆ 0.0          ┆ 0            ┆ 0           ┆ 0       │
│ mean       ┆ 50.5         ┆ null         ┆ null        ┆ null    │
│ std        ┆ 29.011492    ┆ null         ┆ null        ┆ null    │
│ min        ┆ 1.0          ┆ Abata        ┆ Albuquerque ┆ Alabama │
│ max        ┆ 100.0        ┆ Zoomzone     ┆ Woburn      ┆ Wyoming │
│ median     ┆ 50.5         ┆ null         ┆ null        ┆ null    │
│ 25%        ┆ 26.0         ┆ null         ┆ null        ┆ null    │
│ 75%        ┆ 76.0         ┆ null         ┆ null        ┆ null    │
└────────────┴──────────────┴──────────────┴─────────────┴─────────┘

In [6]:
account_df.columns

['CompanyEXTID', 'Company Name', 'City', 'State']

In [7]:
account_df.schema

{'CompanyEXTID': Int64, 'Company Name': Utf8, 'City': Utf8, 'State': Utf8}

In [8]:
account_df.select("*")

shape: (100, 4)
┌──────────────┬──────────────┬─────────────┬─────────────┐
│ CompanyEXTID ┆ Company Name ┆ City        ┆ State       │
│ ---          ┆ ---          ┆ ---         ┆ ---         │
│ i64          ┆ str          ┆ str         ┆ str         │
╞══════════════╪══════════════╪═════════════╪═════════════╡
│ 1            ┆ Yadel        ┆ Cheyenne    ┆ Wyoming     │
│ 2            ┆ Camido       ┆ Stamford    ┆ Connecticut │
│ 3            ┆ Trudeo       ┆ Seattle     ┆ Washington  │
│ 4            ┆ Gigaclub     ┆ Anchorage   ┆ Alaska      │
│ …            ┆ …            ┆ …           ┆ …           │
│ 97           ┆ Realbridge   ┆ Peoria      ┆ Illinois    │
│ 98           ┆ Talane       ┆ Chicago     ┆ Illinois    │
│ 99           ┆ Midel        ┆ Evanston    ┆ Illinois    │
│ 100          ┆ Trilith      ┆ Springfield ┆ Virginia    │
└──────────────┴──────────────┴─────────────┴─────────────┘

In [17]:
account_df.select(pl.count("CompanyEXTID"))

shape: (1, 1)
┌──────────────┐
│ CompanyEXTID │
│ ---          │
│ u32          │
╞══════════════╡
│ 100          │
└──────────────┘

In [9]:
contact_df = pl.read_csv("data/salesforce/Contacts.csv", eol_char='\r')

In [11]:
contact_df.select("*")

shape: (100, 5)
┌──────────────┬────────────┬───────────┬─────────────────────────────┬───────────────┐
│ companyEXTID ┆ first_name ┆ last_name ┆ email                       ┆ country       │
│ ---          ┆ ---        ┆ ---       ┆ ---                         ┆ ---           │
│ i64          ┆ str        ┆ str       ┆ str                         ┆ str           │
╞══════════════╪════════════╪═══════════╪═════════════════════════════╪═══════════════╡
│ 1            ┆ Phillip    ┆ Barnes    ┆ pbarnes0@about.com          ┆ United States │
│ 2            ┆ Kathryn    ┆ Hansen    ┆ khansen1@ustream.tv         ┆ United States │
│ 3            ┆ Roy        ┆ Edwards   ┆ redwards2@bravesites.com    ┆ United States │
│ 4            ┆ George     ┆ Morris    ┆ gmorris3@symantec.com       ┆ United States │
│ …            ┆ …          ┆ …         ┆ …                           ┆ …             │
│ 97           ┆ Wanda      ┆ Mendoza   ┆ wmendoza2o@123-reg.co.uk    ┆ United States │
│ 98           ┆ Bruce      ┆ Bowman    ┆ bbowman2p@hud.gov           ┆ United States │
│ 99           ┆ Mary       ┆ Ferguson  ┆ mferguson2q@studiopress.com ┆ United States │
│ 100          ┆ Billy      ┆ Wallace   ┆ bwallace2r@comsenz.com      ┆ United States │
└──────────────┴────────────┴───────────┴─────────────────────────────┴───────────────┘

In [19]:
contact_df.select(pl.count("companyEXTID"))

shape: (1, 1)
┌──────────────┐
│ companyEXTID │
│ ---          │
│ u32          │
╞══════════════╡
│ 100          │
└──────────────┘

In [26]:
# join account_df and contact_df by CompanyEXTID and companyEXTID
account_contact_df = account_df.join(contact_df, left_on="CompanyEXTID", right_on="companyEXTID", how="left")
account_contact_df.select("*")

shape: (100, 8)
┌────────────┬────────────┬────────────┬────────────┬──────────┬───────────┬───────────┬───────────┐
│ CompanyEXT ┆ Company    ┆ City       ┆ State      ┆ first_na ┆ last_name ┆ email     ┆ country   │
│ ID         ┆ Name       ┆ ---        ┆ ---        ┆ me       ┆ ---       ┆ ---       ┆ ---       │
│ ---        ┆ ---        ┆ str        ┆ str        ┆ ---      ┆ str       ┆ str       ┆ str       │
│ i64        ┆ str        ┆            ┆            ┆ str      ┆           ┆           ┆           │
╞════════════╪════════════╪════════════╪════════════╪══════════╪═══════════╪═══════════╪═══════════╡
│ 1          ┆ Yadel      ┆ Cheyenne   ┆ Wyoming    ┆ Phillip  ┆ Barnes    ┆ pbarnes0@ ┆ United    │
│            ┆            ┆            ┆            ┆          ┆           ┆ about.com ┆ States    │
│ 2          ┆ Camido     ┆ Stamford   ┆ Connecticu ┆ Kathryn  ┆ Hansen    ┆ khansen1@ ┆ United    │
│            ┆            ┆            ┆ t          ┆          ┆           ┆ ustream.t ┆ States    │
│            ┆            ┆            ┆            ┆          ┆           ┆ v         ┆           │
│ 3          ┆ Trudeo     ┆ Seattle    ┆ Washington ┆ Roy      ┆ Edwards   ┆ redwards2 ┆ United    │
│            ┆            ┆            ┆            ┆          ┆           ┆ @bravesit ┆ States    │
│            ┆            ┆            ┆            ┆          ┆           ┆ es.com    ┆           │
│ 4          ┆ Gigaclub   ┆ Anchorage  ┆ Alaska     ┆ George   ┆ Morris    ┆ gmorris3@ ┆ United    │
│            ┆            ┆            ┆            ┆          ┆           ┆ symantec. ┆ States    │
│            ┆            ┆            ┆            ┆          ┆           ┆ com       ┆           │
│ …          ┆ …          ┆ …          ┆ …          ┆ …        ┆ …         ┆ …         ┆ …         │
│ 97         ┆ Realbridge ┆ Peoria     ┆ Illinois   ┆ Wanda    ┆ Mendoza   ┆ wmendoza2 ┆ United    │
│            ┆            ┆            ┆            ┆          ┆           ┆ o@123-reg ┆ States    │
│            ┆            ┆            ┆            ┆          ┆           ┆ .co.uk    ┆           │
│ 98         ┆ Talane     ┆ Chicago    ┆ Illinois   ┆ Bruce    ┆ Bowman    ┆ bbowman2p ┆ United    │
│            ┆            ┆            ┆            ┆          ┆           ┆ @hud.gov  ┆ States    │
│ 99         ┆ Midel      ┆ Evanston   ┆ Illinois   ┆ Mary     ┆ Ferguson  ┆ mferguson ┆ United    │
│            ┆            ┆            ┆            ┆          ┆           ┆ 2q@studio ┆ States    │
│            ┆            ┆            ┆            ┆          ┆           ┆ press.com ┆           │
│ 100        ┆ Trilith    ┆ Springfiel ┆ Virginia   ┆ Billy    ┆ Wallace   ┆ bwallace2 ┆ United    │
│            ┆            ┆ d          ┆            ┆          ┆           ┆ r@comsenz ┆ States    │
│            ┆            ┆            ┆            ┆          ┆           ┆ .com      ┆           │
└────────────┴────────────┴────────────┴────────────┴──────────┴───────────┴───────────┴───────────┘

In [28]:
account_contact_df.describe()

shape: (9, 9)
┌───────────┬────────────┬────────────┬───────────┬───┬──────────┬─────────┬───────────┬───────────┐
│ describe  ┆ CompanyEXT ┆ Company    ┆ City      ┆ … ┆ first_na ┆ last_na ┆ email     ┆ country   │
│ ---       ┆ ID         ┆ Name       ┆ ---       ┆   ┆ me       ┆ me      ┆ ---       ┆ ---       │
│ str       ┆ ---        ┆ ---        ┆ str       ┆   ┆ ---      ┆ ---     ┆ str       ┆ str       │
│           ┆ f64        ┆ str        ┆           ┆   ┆ str      ┆ str     ┆           ┆           │
╞═══════════╪════════════╪════════════╪═══════════╪═══╪══════════╪═════════╪═══════════╪═══════════╡
│ count     ┆ 100.0      ┆ 100        ┆ 100       ┆ … ┆ 100      ┆ 100     ┆ 100       ┆ 100       │
│ null_coun ┆ 0.0        ┆ 0          ┆ 0         ┆ … ┆ 0        ┆ 0       ┆ 0         ┆ 0         │
│ t         ┆            ┆            ┆           ┆   ┆          ┆         ┆           ┆           │
│ mean      ┆ 50.5       ┆ null       ┆ null      ┆ … ┆ null     ┆ null    ┆ null      ┆ null      │
│ std       ┆ 29.011492  ┆ null       ┆ null      ┆ … ┆ null     ┆ null    ┆ null      ┆ null      │
│ min       ┆ 1.0        ┆ Abata      ┆ Albuquerq ┆ … ┆ Adam     ┆ Alexand ┆ abishop1c ┆ United    │
│           ┆            ┆            ┆ ue        ┆   ┆          ┆ er      ┆ @t.co     ┆ States    │
│ max       ┆ 100.0      ┆ Zoomzone   ┆ Woburn    ┆ … ┆ Willie   ┆ Wilson  ┆ wwatson1i ┆ United    │
│           ┆            ┆            ┆           ┆   ┆          ┆         ┆ @bizjourn ┆ States    │
│           ┆            ┆            ┆           ┆   ┆          ┆         ┆ als.com   ┆           │
│ median    ┆ 50.5       ┆ null       ┆ null      ┆ … ┆ null     ┆ null    ┆ null      ┆ null      │
│ 25%       ┆ 26.0       ┆ null       ┆ null      ┆ … ┆ null     ┆ null    ┆ null      ┆ null      │
│ 75%       ┆ 76.0       ┆ null       ┆ null      ┆ … ┆ null     ┆ null    ┆ null      ┆ null      │
└───────────┴────────────┴────────────┴───────────┴───┴──────────┴─────────┴───────────┴───────────┘

In [20]:
lead_df = pl.read_csv("data/salesforce/Leads.csv", eol_char='\r')

In [21]:
lead_df.select("*")

shape: (100, 5)
┌────────────┬───────────┬──────────────────────────────────┬────────────┬─────────────┐
│ First Name ┆ Last Name ┆ Email                            ┆ Company    ┆ Lead Status │
│ ---        ┆ ---       ┆ ---                              ┆ ---        ┆ ---         │
│ str        ┆ str       ┆ str                              ┆ str        ┆ str         │
╞════════════╪═══════════╪══════════════════════════════════╪════════════╪═════════════╡
│ Kathryn    ┆ Garza     ┆ kgarza0@desdev.cn                ┆ Oyonder    ┆ New         │
│ Jesse      ┆ Lewis     ┆ jlewis1@arstechnica.com          ┆ Divanoodle ┆ New         │
│ Linda      ┆ Moreno    ┆ lmoreno2@clickbank.net           ┆ Skiba      ┆ New         │
│ Charles    ┆ Carroll   ┆ ccarroll3@gnu.org                ┆ Dabfeed    ┆ New         │
│ …          ┆ …         ┆ …                                ┆ …          ┆ …           │
│ Shawn      ┆ Harris    ┆ sharris2o@businessinsider.com    ┆ Lajo       ┆ Working     │
│ Brian      ┆ Rivera    ┆ brivera2p@pinterest.com          ┆ Aimbu      ┆ Working     │
│ Joyce      ┆ Hanson    ┆ jhanson2q@dyndns.org             ┆ Kwilith    ┆ Working     │
│ George     ┆ Hansen    ┆ ghansen2r@networkadvertising.org ┆ Tekfly     ┆ Working     │
└────────────┴───────────┴──────────────────────────────────┴────────────┴─────────────┘

In [22]:
lead_df.describe()

shape: (9, 6)
┌────────────┬────────────┬───────────┬───────────────────────┬─────────┬─────────────┐
│ describe   ┆ First Name ┆ Last Name ┆ Email                 ┆ Company ┆ Lead Status │
│ ---        ┆ ---        ┆ ---       ┆ ---                   ┆ ---     ┆ ---         │
│ str        ┆ str        ┆ str       ┆ str                   ┆ str     ┆ str         │
╞════════════╪════════════╪═══════════╪═══════════════════════╪═════════╪═════════════╡
│ count      ┆ 100        ┆ 100       ┆ 100                   ┆ 100     ┆ 100         │
│ null_count ┆ 0          ┆ 0         ┆ 0                     ┆ 0       ┆ 0           │
│ mean       ┆ null       ┆ null      ┆ null                  ┆ null    ┆ null        │
│ std        ┆ null       ┆ null      ┆ null                  ┆ null    ┆ null        │
│ min        ┆ Aaron      ┆ Alvarez   ┆ abowman29@reuters.com ┆ Aibox   ┆ New         │
│ max        ┆ William    ┆ Wood      ┆ wwilliams1y@adobe.com ┆ Zooveo  ┆ working     │
│ median     ┆ null       ┆ null      ┆ null                  ┆ null    ┆ null        │
│ 25%        ┆ null       ┆ null      ┆ null                  ┆ null    ┆ null        │
│ 75%        ┆ null       ┆ null      ┆ null                  ┆ null    ┆ null        │
└────────────┴────────────┴───────────┴───────────────────────┴─────────┴─────────────┘

In [45]:
# count lead_df group by Lead Status
lead_df.groupby("Lead Status").count()

shape: (3, 2)
┌─────────────┬───────┐
│ Lead Status ┆ count │
│ ---         ┆ ---   │
│ str         ┆ u32   │
╞═════════════╪═══════╡
│ New         ┆ 48    │
│ Working     ┆ 51    │
│ working     ┆ 1     │
└─────────────┴───────┘

In [38]:
account_contact_lead_df = account_contact_df.join(lead_df, left_on="Company Name", right_on="Company", how="inner")
account_contact_lead_df

shape: (24, 12)
┌────────────┬────────────┬───────────┬───────────┬───┬──────────┬─────────┬───────────┬───────────┐
│ CompanyEXT ┆ Company    ┆ City      ┆ State     ┆ … ┆ First    ┆ Last    ┆ Email     ┆ Lead      │
│ ID         ┆ Name       ┆ ---       ┆ ---       ┆   ┆ Name     ┆ Name    ┆ ---       ┆ Status    │
│ ---        ┆ ---        ┆ str       ┆ str       ┆   ┆ ---      ┆ ---     ┆ str       ┆ ---       │
│ i64        ┆ str        ┆           ┆           ┆   ┆ str      ┆ str     ┆           ┆ str       │
╞════════════╪════════════╪═══════════╪═══════════╪═══╪══════════╪═════════╪═══════════╪═══════════╡
│ 15         ┆ Skidoo     ┆ Cincinnat ┆ Ohio      ┆ … ┆ Peter    ┆ Romero  ┆ promero7@ ┆ New       │
│            ┆            ┆ i         ┆           ┆   ┆          ┆         ┆ intel.com ┆           │
│ 83         ┆ Cogilith   ┆ Anaheim   ┆ Californi ┆ … ┆ Diana    ┆ Castill ┆ dcastillo ┆ New       │
│            ┆            ┆           ┆ a         ┆   ┆          ┆ o       ┆ d@youku.c ┆           │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆ om        ┆           │
│ 83         ┆ Cogilith   ┆ Anaheim   ┆ Californi ┆ … ┆ Nancy    ┆ Campbel ┆ ncampbell ┆ New       │
│            ┆            ┆           ┆ a         ┆   ┆          ┆ l       ┆ i@busines ┆           │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆ sinsider. ┆           │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆ com       ┆           │
│ 30         ┆ Youopia    ┆ Independe ┆ Missouri  ┆ … ┆ Donna    ┆ Evans   ┆ devanst@w ┆ New       │
│            ┆            ┆ nce       ┆           ┆   ┆          ┆         ┆ ebmd.com  ┆           │
│ …          ┆ …          ┆ …         ┆ …         ┆ … ┆ …        ┆ …       ┆ …         ┆ …         │
│ 26         ┆ Aibox      ┆ Albuquerq ┆ New       ┆ … ┆ William  ┆ William ┆ wwilliams ┆ Working   │
│            ┆            ┆ ue        ┆ Mexico    ┆   ┆          ┆ s       ┆ 1y@adobe. ┆           │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆ com       ┆           │
│ 6          ┆ Riffpedia  ┆ San Jose  ┆ Californi ┆ … ┆ Rachel   ┆ Schmidt ┆ rschmidt2 ┆ Working   │
│            ┆            ┆           ┆ a         ┆   ┆          ┆         ┆ m@toplist ┆           │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆ .cz       ┆           │
│ 90         ┆ Lajo       ┆ Biloxi    ┆ Mississip ┆ … ┆ Shawn    ┆ Harris  ┆ sharris2o ┆ Working   │
│            ┆            ┆           ┆ pi        ┆   ┆          ┆         ┆ @business ┆           │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆ insider.c ┆           │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆ om        ┆           │
│ 56         ┆ Kwilith    ┆ Duluth    ┆ Georgia   ┆ … ┆ Joyce    ┆ Hanson  ┆ jhanson2q ┆ Working   │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆ @dyndns.o ┆           │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆ rg        ┆           │
└────────────┴────────────┴───────────┴───────────┴───┴──────────┴─────────┴───────────┴───────────┘

In [39]:
account_contact_lead_df.describe()

shape: (9, 13)
┌───────────┬────────────┬────────────┬───────────┬───┬──────────┬─────────┬───────────┬───────────┐
│ describe  ┆ CompanyEXT ┆ Company    ┆ City      ┆ … ┆ First    ┆ Last    ┆ Email     ┆ Lead      │
│ ---       ┆ ID         ┆ Name       ┆ ---       ┆   ┆ Name     ┆ Name    ┆ ---       ┆ Status    │
│ str       ┆ ---        ┆ ---        ┆ str       ┆   ┆ ---      ┆ ---     ┆ str       ┆ ---       │
│           ┆ f64        ┆ str        ┆           ┆   ┆ str      ┆ str     ┆           ┆ str       │
╞═══════════╪════════════╪════════════╪═══════════╪═══╪══════════╪═════════╪═══════════╪═══════════╡
│ count     ┆ 24.0       ┆ 24         ┆ 24        ┆ … ┆ 24       ┆ 24      ┆ 24        ┆ 24        │
│ null_coun ┆ 0.0        ┆ 0          ┆ 0         ┆ … ┆ 0        ┆ 0       ┆ 0         ┆ 0         │
│ t         ┆            ┆            ┆           ┆   ┆          ┆         ┆           ┆           │
│ mean      ┆ 53.583333  ┆ null       ┆ null      ┆ … ┆ null     ┆ null    ┆ null      ┆ null      │
│ std       ┆ 31.916898  ┆ null       ┆ null      ┆ … ┆ null     ┆ null    ┆ null      ┆ null      │
│ min       ┆ 4.0        ┆ Aibox      ┆ Albuquerq ┆ … ┆ Alice    ┆ Bailey  ┆ agardner1 ┆ New       │
│           ┆            ┆            ┆ ue        ┆   ┆          ┆         ┆ r@feedbur ┆           │
│           ┆            ┆            ┆           ┆   ┆          ┆         ┆ ner.com   ┆           │
│ max       ┆ 98.0       ┆ Youopia    ┆ Woburn    ┆ … ┆ William  ┆ Wilson  ┆ wwilliams ┆ Working   │
│           ┆            ┆            ┆           ┆   ┆          ┆         ┆ 1y@adobe. ┆           │
│           ┆            ┆            ┆           ┆   ┆          ┆         ┆ com       ┆           │
│ median    ┆ 59.0       ┆ null       ┆ null      ┆ … ┆ null     ┆ null    ┆ null      ┆ null      │
│ 25%       ┆ 27.0       ┆ null       ┆ null      ┆ … ┆ null     ┆ null    ┆ null      ┆ null      │
│ 75%       ┆ 85.0       ┆ null       ┆ null      ┆ … ┆ null     ┆ null    ┆ null      ┆ null      │
└───────────┴────────────┴────────────┴───────────┴───┴──────────┴─────────┴───────────┴───────────┘

In [52]:
# count account_contact_lead_df Email group by CompanyEXTID
account_contact_lead_df.groupby("CompanyEXTID", "Company Name").agg(pl.count("Email").alias("email_count")).sort("email_count", descending=True)

shape: (22, 3)
┌──────────────┬──────────────┬─────────────┐
│ CompanyEXTID ┆ Company Name ┆ email_count │
│ ---          ┆ ---          ┆ ---         │
│ i64          ┆ str          ┆ u32         │
╞══════════════╪══════════════╪═════════════╡
│ 83           ┆ Cogilith     ┆ 2           │
│ 63           ┆ Photobug     ┆ 2           │
│ 30           ┆ Youopia      ┆ 1           │
│ 88           ┆ Tagchat      ┆ 1           │
│ …            ┆ …            ┆ …           │
│ 92           ┆ Twitterwire  ┆ 1           │
│ 61           ┆ Blogtags     ┆ 1           │
│ 98           ┆ Talane       ┆ 1           │
│ 56           ┆ Kwilith      ┆ 1           │
└──────────────┴──────────────┴─────────────┘

In [40]:
opportunity_df = pl.read_csv("data/salesforce/Opportunites.csv", eol_char='\r')

In [41]:
opportunity_df.select("*")

shape: (100, 6)
┌─────────────┬──────────────┬───────────────────┬───────────────────┬────────────────┬────────────┐
│ CompanEXTID ┆ Amount       ┆ Project Name      ┆ Oppurtunity Name  ┆ Stage          ┆ Close Date │
│ ---         ┆ ---          ┆ ---               ┆ ---               ┆ ---            ┆ ---        │
│ i64         ┆ str          ┆ str               ┆ str               ┆ str            ┆ str        │
╞═════════════╪══════════════╪═══════════════════╪═══════════════════╪════════════════╪════════════╡
│ 1           ┆ $441,104.45  ┆ healthy accents   ┆ healthy accents   ┆ Closed Lost    ┆ 11/25/15   │
│             ┆              ┆ cetirizine hydro… ┆ cetirizine hydro… ┆                ┆            │
│ 2           ┆ $15,265.78   ┆ SOFT AND PRECIOUS ┆ SOFT AND PRECIOUS ┆ Closed Lost    ┆ 1/5/15     │
│             ┆              ┆ NURSERY           ┆ NURSERY           ┆                ┆            │
│ 3           ┆ $890,341.82  ┆ Hydrochlorothiazi ┆ Hydrochlorothiazi ┆ Closed Lost    ┆ 10/24/15   │
│             ┆              ┆ de                ┆ de                ┆                ┆            │
│ 4           ┆ $250,374.17  ┆ Good Neighbor     ┆ Good Neighbor     ┆ Closed Lost    ┆ 1/31/15    │
│             ┆              ┆ Pharmacy          ┆ Pharmacy          ┆                ┆            │
│             ┆              ┆ ibuprofen         ┆ ibuprofen         ┆                ┆            │
│ …           ┆ …            ┆ …                 ┆ …                 ┆ …              ┆ …          │
│ 97          ┆ $699,668.56  ┆ Alcohol Prep      ┆ Alcohol Prep      ┆ Estimate/Quote ┆ 4/1/15     │
│ 98          ┆ $370,814.43  ┆ PIROXICAM         ┆ PIROXICAM         ┆ Estimate/Quote ┆ 5/4/15     │
│ 99          ┆ $130,500.73  ┆ Ready Foundation  ┆ Ready Foundation  ┆ Estimate/Quote ┆ 2/15/15    │
│ 100         ┆ $17,964.15   ┆ Anti-Aging Tinted ┆ Anti-Aging Tinted ┆ Estimate/Quote ┆ 4/5/15     │
│             ┆              ┆ Moisturizer Br…   ┆ Moisturizer Br…   ┆                ┆            │
└─────────────┴──────────────┴───────────────────┴───────────────────┴────────────────┴────────────┘

In [42]:
opportunity_df.describe()

shape: (9, 7)
┌────────────┬─────────────┬───────────────┬────────────┬──────────────┬──────────────┬────────────┐
│ describe   ┆ CompanEXTID ┆ Amount        ┆ Project    ┆ Oppurtunity  ┆ Stage        ┆ Close Date │
│ ---        ┆ ---         ┆ ---           ┆ Name       ┆ Name         ┆ ---          ┆ ---        │
│ str        ┆ f64         ┆ str           ┆ ---        ┆ ---          ┆ str          ┆ str        │
│            ┆             ┆               ┆ str        ┆ str          ┆              ┆            │
╞════════════╪═════════════╪═══════════════╪════════════╪══════════════╪══════════════╪════════════╡
│ count      ┆ 100.0       ┆ 100           ┆ 100        ┆ 100          ┆ 100          ┆ 100        │
│ null_count ┆ 0.0         ┆ 0             ┆ 0          ┆ 0            ┆ 0            ┆ 0          │
│ mean       ┆ 50.5        ┆ null          ┆ null       ┆ null         ┆ null         ┆ null       │
│ std        ┆ 29.011492   ┆ null          ┆ null       ┆ null         ┆ null         ┆ null       │
│ min        ┆ 1.0         ┆ $117,316.44   ┆ 4 Way      ┆ 4 Way        ┆ Closed Lost  ┆ 1/12/15    │
│ max        ┆ 100.0       ┆ $986,478.04   ┆ sunmark    ┆ sunmark      ┆ Specificatio ┆ 9/9/15     │
│            ┆             ┆               ┆ ibuprofen  ┆ ibuprofen    ┆ n            ┆            │
│ median     ┆ 50.5        ┆ null          ┆ null       ┆ null         ┆ null         ┆ null       │
│ 25%        ┆ 26.0        ┆ null          ┆ null       ┆ null         ┆ null         ┆ null       │
│ 75%        ┆ 76.0        ┆ null          ┆ null       ┆ null         ┆ null         ┆ null       │
└────────────┴─────────────┴───────────────┴────────────┴──────────────┴──────────────┴────────────┘

In [46]:
# count opportunity_df group by Stage
opportunity_df.groupby("Stage").count()

shape: (7, 2)
┌────────────────────┬───────┐
│ Stage              ┆ count │
│ ---                ┆ ---   │
│ str                ┆ u32   │
╞════════════════════╪═══════╡
│ Closed Won         ┆ 9     │
│ Estimate/Quote     ┆ 22    │
│ Specification      ┆ 17    │
│ Closed Lost        ┆ 6     │
│ Introduction       ┆ 12    │
│ Finalize/Negotiate ┆ 13    │
│ Discovery          ┆ 21    │
└────────────────────┴───────┘

In [43]:
account_contact_opportunity_df = account_contact_df.join(opportunity_df, left_on="CompanyEXTID", right_on="CompanEXTID", how="left")
account_contact_opportunity_df

shape: (100, 13)
┌────────────┬────────────┬──────────┬──────────┬───┬────────────┬────────────┬─────────┬──────────┐
│ CompanyEXT ┆ Company    ┆ City     ┆ State    ┆ … ┆ Project    ┆ Oppurtunit ┆ Stage   ┆ Close    │
│ ID         ┆ Name       ┆ ---      ┆ ---      ┆   ┆ Name       ┆ y Name     ┆ ---     ┆ Date     │
│ ---        ┆ ---        ┆ str      ┆ str      ┆   ┆ ---        ┆ ---        ┆ str     ┆ ---      │
│ i64        ┆ str        ┆          ┆          ┆   ┆ str        ┆ str        ┆         ┆ str      │
╞════════════╪════════════╪══════════╪══════════╪═══╪════════════╪════════════╪═════════╪══════════╡
│ 1          ┆ Yadel      ┆ Cheyenne ┆ Wyoming  ┆ … ┆ healthy    ┆ healthy    ┆ Closed  ┆ 11/25/15 │
│            ┆            ┆          ┆          ┆   ┆ accents    ┆ accents    ┆ Lost    ┆          │
│            ┆            ┆          ┆          ┆   ┆ cetirizine ┆ cetirizine ┆         ┆          │
│            ┆            ┆          ┆          ┆   ┆ hydro…     ┆ hydro…     ┆         ┆          │
│ 2          ┆ Camido     ┆ Stamford ┆ Connecti ┆ … ┆ SOFT AND   ┆ SOFT AND   ┆ Closed  ┆ 1/5/15   │
│            ┆            ┆          ┆ cut      ┆   ┆ PRECIOUS   ┆ PRECIOUS   ┆ Lost    ┆          │
│            ┆            ┆          ┆          ┆   ┆ NURSERY    ┆ NURSERY    ┆         ┆          │
│ 3          ┆ Trudeo     ┆ Seattle  ┆ Washingt ┆ … ┆ Hydrochlor ┆ Hydrochlor ┆ Closed  ┆ 10/24/15 │
│            ┆            ┆          ┆ on       ┆   ┆ othiazide  ┆ othiazide  ┆ Lost    ┆          │
│ 4          ┆ Gigaclub   ┆ Anchorag ┆ Alaska   ┆ … ┆ Good       ┆ Good       ┆ Closed  ┆ 1/31/15  │
│            ┆            ┆ e        ┆          ┆   ┆ Neighbor   ┆ Neighbor   ┆ Lost    ┆          │
│            ┆            ┆          ┆          ┆   ┆ Pharmacy   ┆ Pharmacy   ┆         ┆          │
│            ┆            ┆          ┆          ┆   ┆ ibuprofen  ┆ ibuprofen  ┆         ┆          │
│ …          ┆ …          ┆ …        ┆ …        ┆ … ┆ …          ┆ …          ┆ …       ┆ …        │
│ 97         ┆ Realbridge ┆ Peoria   ┆ Illinois ┆ … ┆ Alcohol    ┆ Alcohol    ┆ Estimat ┆ 4/1/15   │
│            ┆            ┆          ┆          ┆   ┆ Prep       ┆ Prep       ┆ e/Quote ┆          │
│ 98         ┆ Talane     ┆ Chicago  ┆ Illinois ┆ … ┆ PIROXICAM  ┆ PIROXICAM  ┆ Estimat ┆ 5/4/15   │
│            ┆            ┆          ┆          ┆   ┆            ┆            ┆ e/Quote ┆          │
│ 99         ┆ Midel      ┆ Evanston ┆ Illinois ┆ … ┆ Ready      ┆ Ready      ┆ Estimat ┆ 2/15/15  │
│            ┆            ┆          ┆          ┆   ┆ Foundation ┆ Foundation ┆ e/Quote ┆          │
│ 100        ┆ Trilith    ┆ Springfi ┆ Virginia ┆ … ┆ Anti-Aging ┆ Anti-Aging ┆ Estimat ┆ 4/5/15   │
│            ┆            ┆ eld      ┆          ┆   ┆ Tinted Moi ┆ Tinted Moi ┆ e/Quote ┆          │
│            ┆            ┆          ┆          ┆   ┆ sturizer   ┆ sturizer   ┆         ┆          │
│            ┆            ┆          ┆          ┆   ┆ Br…        ┆ Br…        ┆         ┆          │
└────────────┴────────────┴──────────┴──────────┴───┴────────────┴────────────┴─────────┴──────────┘

In [44]:
account_contact_opportunity_df.describe()

shape: (9, 14)
┌──────────┬────────────┬────────────┬──────────┬───┬────────────┬────────────┬─────────┬──────────┐
│ describe ┆ CompanyEXT ┆ Company    ┆ City     ┆ … ┆ Project    ┆ Oppurtunit ┆ Stage   ┆ Close    │
│ ---      ┆ ID         ┆ Name       ┆ ---      ┆   ┆ Name       ┆ y Name     ┆ ---     ┆ Date     │
│ str      ┆ ---        ┆ ---        ┆ str      ┆   ┆ ---        ┆ ---        ┆ str     ┆ ---      │
│          ┆ f64        ┆ str        ┆          ┆   ┆ str        ┆ str        ┆         ┆ str      │
╞══════════╪════════════╪════════════╪══════════╪═══╪════════════╪════════════╪═════════╪══════════╡
│ count    ┆ 100.0      ┆ 100        ┆ 100      ┆ … ┆ 100        ┆ 100        ┆ 100     ┆ 100      │
│ null_cou ┆ 0.0        ┆ 0          ┆ 0        ┆ … ┆ 0          ┆ 0          ┆ 0       ┆ 0        │
│ nt       ┆            ┆            ┆          ┆   ┆            ┆            ┆         ┆          │
│ mean     ┆ 50.5       ┆ null       ┆ null     ┆ … ┆ null       ┆ null       ┆ null    ┆ null     │
│ std      ┆ 29.011492  ┆ null       ┆ null     ┆ … ┆ null       ┆ null       ┆ null    ┆ null     │
│ min      ┆ 1.0        ┆ Abata      ┆ Albuquer ┆ … ┆ 4 Way      ┆ 4 Way      ┆ Closed  ┆ 1/12/15  │
│          ┆            ┆            ┆ que      ┆   ┆            ┆            ┆ Lost    ┆          │
│ max      ┆ 100.0      ┆ Zoomzone   ┆ Woburn   ┆ … ┆ sunmark    ┆ sunmark    ┆ Specifi ┆ 9/9/15   │
│          ┆            ┆            ┆          ┆   ┆ ibuprofen  ┆ ibuprofen  ┆ cation  ┆          │
│ median   ┆ 50.5       ┆ null       ┆ null     ┆ … ┆ null       ┆ null       ┆ null    ┆ null     │
│ 25%      ┆ 26.0       ┆ null       ┆ null     ┆ … ┆ null       ┆ null       ┆ null    ┆ null     │
│ 75%      ┆ 76.0       ┆ null       ┆ null     ┆ … ┆ null       ┆ null       ┆ null    ┆ null     │
└──────────┴────────────┴────────────┴──────────┴───┴────────────┴────────────┴─────────┴──────────┘

In [53]:
account_contact_opportunity_lead_df = account_contact_opportunity_df.join(lead_df, left_on="Company Name", right_on="Company", how="inner")
account_contact_opportunity_lead_df

shape: (24, 17)
┌────────────┬────────────┬───────────┬───────────┬───┬──────────┬─────────┬───────────┬───────────┐
│ CompanyEXT ┆ Company    ┆ City      ┆ State     ┆ … ┆ First    ┆ Last    ┆ Email     ┆ Lead      │
│ ID         ┆ Name       ┆ ---       ┆ ---       ┆   ┆ Name     ┆ Name    ┆ ---       ┆ Status    │
│ ---        ┆ ---        ┆ str       ┆ str       ┆   ┆ ---      ┆ ---     ┆ str       ┆ ---       │
│ i64        ┆ str        ┆           ┆           ┆   ┆ str      ┆ str     ┆           ┆ str       │
╞════════════╪════════════╪═══════════╪═══════════╪═══╪══════════╪═════════╪═══════════╪═══════════╡
│ 15         ┆ Skidoo     ┆ Cincinnat ┆ Ohio      ┆ … ┆ Peter    ┆ Romero  ┆ promero7@ ┆ New       │
│            ┆            ┆ i         ┆           ┆   ┆          ┆         ┆ intel.com ┆           │
│ 83         ┆ Cogilith   ┆ Anaheim   ┆ Californi ┆ … ┆ Diana    ┆ Castill ┆ dcastillo ┆ New       │
│            ┆            ┆           ┆ a         ┆   ┆          ┆ o       ┆ d@youku.c ┆           │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆ om        ┆           │
│ 83         ┆ Cogilith   ┆ Anaheim   ┆ Californi ┆ … ┆ Nancy    ┆ Campbel ┆ ncampbell ┆ New       │
│            ┆            ┆           ┆ a         ┆   ┆          ┆ l       ┆ i@busines ┆           │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆ sinsider. ┆           │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆ com       ┆           │
│ 30         ┆ Youopia    ┆ Independe ┆ Missouri  ┆ … ┆ Donna    ┆ Evans   ┆ devanst@w ┆ New       │
│            ┆            ┆ nce       ┆           ┆   ┆          ┆         ┆ ebmd.com  ┆           │
│ …          ┆ …          ┆ …         ┆ …         ┆ … ┆ …        ┆ …       ┆ …         ┆ …         │
│ 26         ┆ Aibox      ┆ Albuquerq ┆ New       ┆ … ┆ William  ┆ William ┆ wwilliams ┆ Working   │
│            ┆            ┆ ue        ┆ Mexico    ┆   ┆          ┆ s       ┆ 1y@adobe. ┆           │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆ com       ┆           │
│ 6          ┆ Riffpedia  ┆ San Jose  ┆ Californi ┆ … ┆ Rachel   ┆ Schmidt ┆ rschmidt2 ┆ Working   │
│            ┆            ┆           ┆ a         ┆   ┆          ┆         ┆ m@toplist ┆           │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆ .cz       ┆           │
│ 90         ┆ Lajo       ┆ Biloxi    ┆ Mississip ┆ … ┆ Shawn    ┆ Harris  ┆ sharris2o ┆ Working   │
│            ┆            ┆           ┆ pi        ┆   ┆          ┆         ┆ @business ┆           │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆ insider.c ┆           │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆ om        ┆           │
│ 56         ┆ Kwilith    ┆ Duluth    ┆ Georgia   ┆ … ┆ Joyce    ┆ Hanson  ┆ jhanson2q ┆ Working   │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆ @dyndns.o ┆           │
│            ┆            ┆           ┆           ┆   ┆          ┆         ┆ rg        ┆           │
└────────────┴────────────┴───────────┴───────────┴───┴──────────┴─────────┴───────────┴───────────┘

In [54]:
account_contact_opportunity_lead_df.describe()

shape: (9, 18)
┌───────────┬────────────┬────────────┬───────────┬───┬──────────┬─────────┬───────────┬───────────┐
│ describe  ┆ CompanyEXT ┆ Company    ┆ City      ┆ … ┆ First    ┆ Last    ┆ Email     ┆ Lead      │
│ ---       ┆ ID         ┆ Name       ┆ ---       ┆   ┆ Name     ┆ Name    ┆ ---       ┆ Status    │
│ str       ┆ ---        ┆ ---        ┆ str       ┆   ┆ ---      ┆ ---     ┆ str       ┆ ---       │
│           ┆ f64        ┆ str        ┆           ┆   ┆ str      ┆ str     ┆           ┆ str       │
╞═══════════╪════════════╪════════════╪═══════════╪═══╪══════════╪═════════╪═══════════╪═══════════╡
│ count     ┆ 24.0       ┆ 24         ┆ 24        ┆ … ┆ 24       ┆ 24      ┆ 24        ┆ 24        │
│ null_coun ┆ 0.0        ┆ 0          ┆ 0         ┆ … ┆ 0        ┆ 0       ┆ 0         ┆ 0         │
│ t         ┆            ┆            ┆           ┆   ┆          ┆         ┆           ┆           │
│ mean      ┆ 53.583333  ┆ null       ┆ null      ┆ … ┆ null     ┆ null    ┆ null      ┆ null      │
│ std       ┆ 31.916898  ┆ null       ┆ null      ┆ … ┆ null     ┆ null    ┆ null      ┆ null      │
│ min       ┆ 4.0        ┆ Aibox      ┆ Albuquerq ┆ … ┆ Alice    ┆ Bailey  ┆ agardner1 ┆ New       │
│           ┆            ┆            ┆ ue        ┆   ┆          ┆         ┆ r@feedbur ┆           │
│           ┆            ┆            ┆           ┆   ┆          ┆         ┆ ner.com   ┆           │
│ max       ┆ 98.0       ┆ Youopia    ┆ Woburn    ┆ … ┆ William  ┆ Wilson  ┆ wwilliams ┆ Working   │
│           ┆            ┆            ┆           ┆   ┆          ┆         ┆ 1y@adobe. ┆           │
│           ┆            ┆            ┆           ┆   ┆          ┆         ┆ com       ┆           │
│ median    ┆ 59.0       ┆ null       ┆ null      ┆ … ┆ null     ┆ null    ┆ null      ┆ null      │
│ 25%       ┆ 27.0       ┆ null       ┆ null      ┆ … ┆ null     ┆ null    ┆ null      ┆ null      │
│ 75%       ┆ 85.0       ┆ null       ┆ null      ┆ … ┆ null     ┆ null    ┆ null      ┆ null      │
└───────────┴────────────┴────────────┴───────────┴───┴──────────┴─────────┴───────────┴───────────┘